﻿﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Графический редактор</title>

    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet">

    @if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="http://localhost:8888/Content/js/polyfills.js" type="text/javascript"></script>
        <script src="http://localhost:8888/Content/js/vendor.js" type="text/javascript"></script>
    }
    else
    {
        <script src="~/Content/js/polyfills.js" type="text/javascript"></script>
        <script src="~/Content/js/vendor.js" type="text/javascript"></script>
    }
</head>
<body>
    @RenderBody()
</body>
</html>
