﻿<div class="main-container">
    <div class="canvas-container">
        <canvas #canvas></canvas>
    </div>
    <div class="buttons-container">
        <div class="button-region">
            <input class="display-none" type="file" (change)="uploadEnd($event)" #fileInput>
            <button [disabled]="isSaving" (click)="upload()">Открыть</button>
        </div>
        <div class="button-region">
            <button id="saveButton" [disabled]="isSaving" (click)="save()">Сохранить на сервер</button>
            <div class="file-url">
                <a *ngIf="fileUrl" [href]="bypassSecurityTrustUrl(fileUrl)">Последний файл</a>
            </div>
        </div>
        <div class="description-region">
            <span>Эффекты:</span>
        </div>
        <div class="button-region">
            <button [disabled]="isSaving" (click)="sepiaFilter()">Сепия</button>
        </div>
        <div class="button-region">
            <button [disabled]="isSaving" (click)="invertFilter()">Инвертировать</button>
        </div>
        <div class="button-region">
            <label for="brightness">Яркость</label>
            <input id="brightness" type="range" (change)="brightnessFilter($event)" min="-150" max="150" step="1" [(ngModel)]="brightness" value="brightness" />
        </div>
        <div class="button-region">
            <button [disabled]="isSaving" (click)="cancel()">Отменить всё</button>
        </div>
    </div>
</div>