﻿.main-container {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .canvas-container {
        width: 85vw;
        height: 99vh;
        display: flex;
        border: 1px #bcbcbc solid;

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    .buttons-container {
        width: 15vw;
        height: 100%;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .button-region {
            padding: 10% 15% 0 15%;
            width: 100%;

            button,
            input {
                width: 100%;
            }

            label {
                width: 100%;
                text-align: center;
            }

            .file-url {
                font-size: 14px;
                margin-top: 10%;
                text-align: left;

                a {
                    cursor: pointer;
                }
            }
        }

        .description-region {
            padding-top: 12%;
        }
    }
}
