﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main></main>

@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="http://localhost:8888/Content/js/main.js" type="text/javascript"></script>
}
else
{
    <script src="~/Content/js/main.js" type="text/javascript"></script>
}
